<div class="d-flex flex-column flex-md-row justify-content-between 
                    align-items-center border-bottom shadow-sm
                     fixed-top">
    <img src="/assets/images/logo.png" style="max-height:70px;margin-left:5px;" alt="logo">
    <div class="d-flex justify-content-center">
        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto text-uppercase">
            <a class="me-3 py-2 text-dark text-decoration-none" href="#">Home</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="#">Shop</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="#">Contact</a>
        </nav>
    </div>
    <div class="d-flex align-items-center py-2 ">
        <a class="position-relative">
            <i class="fa fa-shopping-cart fa-2x me-5 text-dark"></i>
            <div class="cart-no">5</div>
        </a>
        <a class="btn btn-outline-secondary me-2">Login</a>
        <a class="btn btn-outline-secondary me-3" href="#">Sign up</a>
    </div>
    
  </div>